body {
  color: white;
  overflow-x: hidden; /* 防止元素出格 */

  backdrop-filter: brightness(0); /* 删掉此属性会出现 bug */
  background-attachment: fixed;
  margin: 0;
  transition: opacity 1s ease;
}

body::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-url) fixed;
  background-size: cover;

  filter: var(--bg-blur) var(--bg-saturate) var(--bg-brightness);
  transition: all 0.5s ease;
}

body::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: black;

  opacity: var(--mask-opacity);
  transition: opacity 1s ease;
}

.router-link {
  color: currentColor;
  text-decoration: none;
}

.card {
  overflow: hidden;

  backdrop-filter: var(--card-blur) var(--card-saturate);
  transition: filter 0.5s ease;
}

.subtitle {
  opacity: 75%;
}

hr {
  border: var(--flat-card-border);
  width: 100%;
  opacity: 75%;
  margin: 0px;
}

.link-block {
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.link-block:hover {
  scale: 1.15;
  opacity: 1;
}

.small-button {
  border: 0px solid;
  border-radius: var(--small-corner-radius);

  background-color: var(--button-background);
  color: currentColor;
  padding: 2px 16px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.small-button:hover {
  background-color: var(--hover-background);
}

.flat-button {
  border-radius: var(--circle-radius);
  background-color: transparent;
  border: 1px solid var(--default-border-color);
  padding: 4px 16px;
  outline: none;
  color: currentColor;

  transition: all 0.4s ease;

  &:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(30, 30, 30, 1);
    transition: none;
  }
}

.unline-height {
  line-height: 0;
}

button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
textarea {
  font-family: "TeXGyreAdventor-Regular", "OPPO-Sans", sans-serif;
}

.normal-input {
  border-radius: var(--normal-corner-radius);
  background-color: transparent;
  border: 1px solid var(--default-border-color);
  padding: 4px 8px;
  outline: none;
  color: currentColor;

  flex-grow: 1;
  /* 占满剩余空间 */

  font-size: 12pt;
}
.normal-input::placeholder {
  color: currentColor;
  opacity: 66%;
}

/* input {
  border-radius: var(--circle-radius);
  border: 0px solid;

  padding: 8px 16px;
  outline: none;
} */
