body {
  color: white;

  background-image: url("/src/assets/images/backgrounds/3.jpg");
  background-color: rgba(30, 30, 30, 1);
  /* backdrop-filter: blur(30px) brightness(0.8); */
  backdrop-filter: brightness(0.5) saturate(0.8);
  background-attachment: fixed;

  margin: 0;
  width: 100vw;
}

/* 以下为 debug 使用 */

/* * {
  --dash-length: 4px;
  --dash-gap: 2px;
  --border-color: rgb(105, 105, 255);
  border: 1px dashed var(--border-color);
  border-image: repeating-linear-gradient(
      135deg,
      var(--border-color) 0 var(--dash-length),
      transparent var(--dash-length) calc(var(--dash-length) + var(--dash-gap))
    )
    1;
}
.stack-panel {
  border: 1px solid red;
} */

/* 以上为 debug 使用 */

.message-panel {
  margin: -5px 0px;
}

.single-line {
  align-items: center;
}

.subtitle {
  opacity: 75%;
}

.link-block {
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.link-block:hover {
  scale: 1.15;
  opacity: 1;
}

@font-face {
  font-family: "义启星空之翼";
  src: url("/src/assets/fonts/义启星空之翼.ttf");
}

@font-face {
  font-family: "TeXGyreAdventor-Regular";
  src: url("/src/assets/fonts/texgyreadventor-regular-webfont.woff2");
}

@font-face {
  font-family: "OPPO-Sans";
  src: url("/src/assets/fonts/OPPO Sans 4.0.ttf");
}

:root {
  /* rounded shadow style */

  --circle-radius: 999px;
  --card-corner-radius: 12px;
  --tag-button-corner-radiu: 4px;

  --default-background: rgba(255, 255, 255, 0.2);
  --hover-background: rgba(255, 255, 255, 0.4);
  --default-selection-background: rgba(255, 255, 255, 0.3);

  --default-card-border-color: rgba(255, 255, 255, 0.8);
  --default-card-border: 0px solid var(--default-card-border-color);
  --flat-card-border: 1px dashed var(--default-card-border-color);

  --default-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  --hover-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.4);

  /* flat style */

  /* --circle-radius: 0;
  --card-corner-radius: 0;
  --tag-button-corner-radiu: 0;

  --default-background: rgba(255, 255, 255, 0.08);
  --hover-background: rgba(255, 255, 255, 0.4);
  --default-selection-background: rgba(255, 255, 255, 0.3);

  --default-card-border-color: rgba(255, 255, 255, 0.6);
  --default-card-border: 0px solid var(--default-card-border-color);
  --flat-card-border: 1px dashed var(--default-card-border-color);

  --default-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
  --hover-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0); */
}

button,
input,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "TeXGyreAdventor-Regular", "OPPO-Sans", sans-serif;
}

.flat-button {
  border-radius: var(--circle-radius);
  background-color: transparent;
  border: 1px solid var(--default-card-border-color);
  padding: 4px 16px;
  outline: none;
  color: currentColor;

  transition: all 0.4s ease;

  &:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(30, 30, 30, 1);
    transition: none;
  }
}

.big-button {
  border-radius: var(--circle-radius);
  border: 0px solid;

  padding: 8px 0;
  outline: none;
}

input {
  border-radius: var(--circle-radius);
  border: 0px solid;

  padding: 8px 16px;
  outline: none;
}

hr {
  border: var(--flat-card-border);
  width: 100%;
  opacity: 80%;
  margin: 0px;
}

.unline-height {
  line-height: 0;
}
