.message-panel {
    margin: -5px 0px;
  }
  
  .right-dock {
    margin-left: 0 auto;
  }
  
  .single-line {
    align-items: center;
  }
  
  .subtitle {
    opacity: 75%;
  }
  
  .link-block {
    cursor: pointer;
    scale: 1;
    transition: all 0.2s ease-in-out;
  }
  
  .link-block:hover {
    scale: 1.15;
    opacity: 1;
  }