.message-panel {
  margin: -5px 0px;
}

.single-line {
  align-items: center;
}

.subtitle {
  opacity: 75%;
}

.link-block {
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.link-block:hover {
  scale: 1.15;
  opacity: 1;
}

@font-face {
  font-family: "义启星空之翼";
  src: url("/src/assets/fonts/义启星空之翼.ttf");
}

@font-face {
  font-family: "TeXGyreAdventor-Regular";
  src: url("/src/assets/fonts/texgyreadventor-regular-webfont.woff2");
}

@font-face {
  font-family: "OPPO-Sans";
  src: url("/src/assets/fonts/OPPO Sans 4.0.ttf");
}

/* debug */
/* * {
  border: 1px solid red;
} */

:root {
  /* rounded shadow style */

  /* --circle-radius: 999px;
  --card-corner-radius: 12px;
  --tag-button-corner-radiu: 4px;

  --default-background: rgba(255, 255, 255, 0.2);
  --hover-background: rgba(255, 255, 255, 0.4);
  --default-selection-background: rgba(255, 255, 255, 0.3);

  --default-card-border-color: rgba(255, 255, 255, 0.8);
  --default-card-border: 0px solid var(--default-card-border-color);
  --flat-card-border: 1px dashed var(--default-card-border-color);

  --default-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  --hover-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.4); */

  /* flat style */

  --circle-radius: 0;
  --card-corner-radius: 0;
  --tag-button-corner-radiu: 0;

  --default-background: rgba(255, 255, 255, 0.08);
  --hover-background: rgba(255, 255, 255, 0.4);
  --default-selection-background: rgba(255, 255, 255, 0.3);
  
  --default-card-border-color :rgba(255, 255, 255, 0.6); 
  --default-card-border: 0px solid var(--default-card-border-color);
  --flat-card-border: 1px dashed var(--default-card-border-color);
  
  --default-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
  --hover-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);
}

button,
input,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "TeXGyreAdventor-Regular", "OPPO-Sans", sans-serif;
}

.unline-height {
  line-height: 0;
}
